@if(key ) {<div class="App">
  <!-- <app-navbar></app-navbar> -->
  <!-- <app-map></app-map> -->
  <!-- <app-ol-map></app-ol-map> -->
<app-leaflat-map [style.display]="visible ? 'block' : 'none'" (hideMap)="switchVisibile($event) " [coins]="coins"></app-leaflat-map>
  @if (!visible && currentVisible  == "carFound") {
    <!-- <button (click)="switchVisibile('a')">Show</button> -->
  <app-car-found (hideMap)="switchVisibile($event)" (addCoins)="addCoins($event)"></app-car-found>
}

@if (!visible && currentVisible == "garage"){
  
  <app-my-cars (hideMap)="switchVisibile($event)"></app-my-cars>

<!-- <div class="push"></div> -->

<!-- <app-navigation (switchVisible)="switchVisibile($event)"></app-navigation> -->
}
@else if (!visible && currentVisible == "profile"){
  <app-profile (hideMap)="switchVisibile($event)"></app-profile>

} 
@else if(!visible && currentVisible == "friends"){

  <app-friends (hideMap)="switchVisibile($event)"></app-friends>
  }

  @else if(!visible && currentVisible == "whenMoving"){
    {{speed}}
   <app-when-moving></app-when-moving>
    }

</div>


<!-- <app-navigation (switchVisible)="switchVisibile($event)"></app-navigation> -->


}

@else {
 <div *ngIf="auth.user$ | async as user; else login">
  {{user.jsonData}}
<hr>
<button class="button" (click)="auth.signOut()"
>Sign Out</button>

</div>

<ng-template #login>
  <button class="button" (click)="signIn()">Login</button>
</ng-template>
}