<!-- <div class='marker-pin'><img src="../../assets/Man.png" ></div> -->

<div class="items">
  <div id="coins">
    <div id="icon"><img src="../../assets/icon%20(2).png"></div>
    <div id="text"><p>{{(coins) | currency}}</p></div>
  </div>
  <div id="cars">
    <div id="icon"><img src="../../assets/icon%20(3).png"></div>
    <div id="text"><p>{{cars}}</p></div>
  </div>
  <div id="gems">
    <div id="icon"><img src="../../assets/icon%20(1).png"></div>
    <div id="text"><p>{{gems}}</p></div>
  </div>
</div>

 <div class="map-container"  [style.display]="visible ? 'block' : 'none'" >
    <div class="map-frame" [style.display]="visible ? 'block' : 'none'" >
      <div id="map" [style.display]="visible ? 'block' : 'none'" ></div>
    </div>
  </div>
  @if (visible == false) {
<div id="carCard" [style.z-Index]="z" [style.display]="'block'"  > 
  <button id="closeBtn" (click)="onCloseClick()">X</button>
  <h1>Car</h1>
  <p>{{randomCar.car}}</p>
  <p>{{randomCar.hp}}</p>

</div>
  }


<div id="user">
  @if(user.photoUrl) {<img [src]="user.photoUrl" width="50px" height="50px" (click)="hideMap('profile')">}
  @else if(user.photoURL) {<img [src]="user.photoURL" width="50px" height="50px" (click)="hideMap('profile')">}
  @else{<img src="../../assets/blank-profile-picture-973460_640.webp" width="50px" height="50px" (click)="hideMap('profile')">}
</div>