
<!-- <div class="container">
    <div id="Shop"><img src="https://world-clicker.com/assets/shop-icon.png" width="50%"></div>
    <div id="Garage" (click)="switchVisible.emit({a:'a', currentVisible: 'garage'})"><img src="https://world-clicker.com/assets/garage-icon.png" width="50%" ></div>
    <div id="Main" 
    (click)="switchVisible.emit({a:'a', currentVisible: null})">

    <img src="https://world-clicker.com/assets/image.png" width="50%"></div>
    <div id="Rennen"><img src="https://world-clicker.com/assets/rennen-icon.png" width="50%"></div>
    <div id="Social"><img src="https://world-clicker.com/assets/social-icon.png" width="50%"></div>
</div> -->

<div>
    <img [src]="image" height="40px" width="40px" (click)="onImageClick()">
    <!-- <a>{{user}}</a> -->
    <!-- <br> -->
    <p>{{user}}</p>
</div>


<!-- (click)="" -->